.dashboard-container__right-head {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  .title {
    font-size: 28px;
    font-weight: 500;
    color: #426696;
    opacity: 0.9;
    margin-bottom: 16px;
  }
  .search-engine__container {
    display: flex;
    .search-bar__container {
      position: relative;
      width: fit-content;
      margin-right: 16px;

      .icon {
        position: absolute;
        font-size: 20px;
        color: #426696;
        opacity: 0.7;
        top: 10px;
        right: 12px;
      }
      .search-bar {
        height: 38px;
        border-radius: 16px;
        background: linear-gradient(
          to right bottom,
          rgba(255, 255, 255, 0.7),
          rgba(255, 255, 255, 0.3)
        );
        border: none;
        width: 350px;
        font-size: 18px;
        padding: 0 32px;
        box-sizing: border-box;
        color: #426696;
        outline: none;
      }
    }

    .filter-bar {
      background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      cursor: pointer;
      align-items: center;
      display: flex;
      padding: 0 16px;
      height: 38px;
      border-radius: 16px;
      // border: 2px solid rgba(66, 102, 150, 0.4);
      font-size: 18px;
      color: #426696;

      .icon {
        font-size: 18px;
        color: #426696;
        opacity: 0.8;
        margin-right: 8px;
      }
    }
  }
}
