.chat-container__header {
  background: white;
  border-radius: 24px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 8px;
  display: flex;
  align-items: center;
  box-shadow: 6px 10px 12px rgba(122, 122, 122, 0.212);
  font-size: 18px;
  color: #426696;
  font-weight: 500;
  z-index: 2;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
}

.image-profile__receiver {
  width: 50px;
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
  margin-right: 24px;
}
