body{
  background: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=pexels-johannes-plenio-1103970.jpg&fm=jpg");
  background-color: rgb(27, 95, 134);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: block;
  margin: auto;
}

#maincontainer {
  padding-bottom: 50px;
}

.thumbnail {
  width: 100%;
  height: 350px;
}

#nav {
  justify-content: center;
  align-items: center;
  /* background: url("https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?cs=srgb&dl=pexels-aleksandar-pasaric-325185.jpg&fm=jpg") */
}

.card {
  background-color: white
}

.link {
  width: 100%;
  height: 100px
}

.title {
  width: 100%;
  height: 100px
}


input {
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: rgb(37, 37, 41);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #193bd3;
  color: white;
}

.cardd {
  width: 400px;
  height: 500px;
}

#nav span {
  font-size: 10px;
}

#nav a {
  font-size: 40px
}

.cover {
  box-shadow: 0 15px 35px #ffffffa1;
  transition: all ease 0.4s;
}

.cover:hover {
    box-shadow: none;
    transform: scale(0.98) translateY(5px);
}

.container {
  justify-content: center;
  align-items: center;
}
