.navbar a:hover {
  background-color: #ffc107;
}

#footer-link a {
  color: white;
  font-family: Righteous;
  font-size: larger;
}

#footer-link a:hover {
  background-color: #ffc107;
}

#footer-icon a {
  color: white;
}

#footer-icon a:hover {
  background-color: #ffc107;
}

.text{
  position: relative;
  text-align: center;
  float: center;
  clear: center;
}
    
.text::after {
  content: "";
  position: absolute;
  border-top: 4px solid #ffc107;
  margin-bottom: -30px;
  left: 47%;
  bottom: 0%;
  width: 5%;
  height: 0px;
}

.form-group {
  border-radius: 25px;
  width: 70%;
}

.checked {
  color: orange;
}

.img-product {
  width: 270px;
  height: 270px;
}

.text-contact{
  position: relative;
  text-align: left;
  float: center;
  clear: center;
}
.text-contact::after {
  content: "";
  position: absolute;
  border-top: 4px solid #ffc107;
  margin-bottom: -10px;
  left: 1%;
  bottom: 0%;
  width: 10%;
  height: 0px;
}