* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right top, #65dfc9, #88fbd8);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  width: 1200px;
  height: 82vh;
  margin: 0 auto;
  border-radius: 32px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  overflow: hidden;
  display: flex;
  box-shadow: 6px 10px 12px rgba(122, 122, 122, 0.212);
  position: relative;
}

.dashboard-container__left {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  width: 33.333%;
  height: 100%;
  padding: 32px 16px;
  border-radius: 32px;

  .user-menu__container {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
  }
}

.login-button {
  text-align: center;
  background: white;
  padding: 6px 32px;
  border-radius: 16px;
  color: #426696;
  width: 50px;
  position: absolute;
  top: 16px;
  right: 16px;
  box-shadow: 2px 8px 8px rgba(122, 122, 122, 0.412);
}

.dashboard-container__right {
  width: 66.67%;
  padding: 48px;
  overflow: scroll;

  .floating-button {
    background: white;
    width: fit-content;
    padding: 8px 16px;
    margin-bottom: 16px;
    border-radius: 16px;
    box-shadow: 6px 10px 12px rgba(122, 122, 122, 0.212);
    color: #426696;
    cursor: pointer;

    .icon {
      margin-right: 8px;
    }
  }
}

//livebid

.live-bid-container,
.chat-container,
.right-space-container {
  width: 100%;
  height: 490px;
  background: white;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 32px;
  padding: 24px;
  box-sizing: border-box;
}

//product

.right-space-container {
  .title-container {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    color: #426696;
  }
  background: white;
  .input-container {
    display: flex;
    flex-direction: column;
    width: 50%;

    label {
      margin-bottom: 8px;
    }

    input {
      height: 36px;
      border-radius: 16px;
      border: none;
      font-size: 16px;
      color: grey;
      padding: 0 16px;
      outline: none;
      border: 1px solid grey;
    }

    .file {
      text-align: center;
    }
  }
}
