<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../styles/style.css" />
        <title>template</title>
    </head>
    <body>
        <nav
            class="navbar navbar-expand-lg navbar-light bg-light"
            style="height: 10vh"
        >
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="#"
                                >Home</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Dropdown
                            </a>
                            <ul
                                class="dropdown-menu"
                                aria-labelledby="navbarDropdown"
                            >
                                <li>
                                    <a class="dropdown-item" href="#">Action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Another action</a
                                    >
                                </li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Something else here</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link disabled"
                                href="#"
                                tabindex="-1"
                                aria-disabled="true"
                                >Disabled</a
                            >
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input
                            class="form-control me-2"
                            type="search"
                            placeholder="Search"
                            aria-label="Search"
                        />
                        <button class="btn btn-outline-success" type="submit">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container" style="height: 90vh">
            <div class="row h-100">
                <!-- chat -->
                <div class="col-2 border">
                    <div
                        class="
                            h-90
                            d-flex
                            flex-column
                            justify-content-end
                            border
                        "
                    >
                        <div class="w-100 border text-wrap text-break">
                            aasdasdssadsadsdsad
                        </div>
                        <div class="w-100 border text-wrap text-break">
                            bdasdsadsdsadasds
                        </div>
                        <div class="w-100 border text-wrap text-break">
                            cadsdadsdadsadsadadaddadsadasdas
                        </div>
                        <div class="w-100 border text-wrap text-break">d</div>
                        <div class="w-100 border text-wrap text-break">e</div>
                        <div class="w-100 border text-wrap text-break">f</div>
                        <div class="w-100 border text-wrap text-break">g</div>
                        <div class="w-100 border text-wrap text-break">h</div>
                    </div>
                    <div class="h-10">
                        <form class="h-100 d-flex align-items-center">
                            <input
                                type="text"
                                class="form-control"
                                id="chat-box"
                                placeholder="chat here"
                            />
                        </form>
                    </div>
                </div>
                <!-- main -->
                <div class="col-8 border"></div>
                <!-- leaderboard -->
                <div class="col-2 border"></div>
            </div>
        </div>
    </body>
</html>
